.contenedor{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #2A2E3C;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.titulo{
    color: #DADFED;
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;
    padding-right: 10px;
}

.modelo{
    color: #DADFED;
    font-size: 22px;
    font-weight: bold;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 15px;
}

.icon{
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: center;
    color: #DADFED;
}