.home{
    flex: 4;
}

.itemList {
  flex: 4;
}

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.itemList {
  flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}